<html>
  <head>
    <meta charset="UTF-8">
    <title>PowerAI Vision Inference</title>


    <link rel="stylesheet" href="https://unpkg.com/carbon-components/css/carbon-components.min.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/@carbon/charts/style.css" />

    <script src="https://unpkg.com/carbon-components/scripts/carbon-components.min.js"></script>
    <script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
    var x =
    $(document).ready(function(){

    $('#log').text()
    // set the namespace -
    namespace = '/test';

    // connect to the socket.io server
    var socket = io(namespace);

    // event handler for new connections
    socket.on('connect', function() {
                socket.emit('my_event', {data: 'I\'m connected!'});
            });
    // event handler for when the server sends data:
    // data is displayed within the Recieved section of the page in the html



    socket.on('my_response', function(msg, cb) {
              var inference = [];
              // $('#log').text('Received #' + msg.count + ': ' + msg.data).html());
              // $('#log').text(msg.data);
              console.log(msg.data)
              for (i = 0; i < msg.data.length; i++) {
              // for each part of string:
              if (msg.data[i]["label"] == "epithelial" && msg.data[i]["confidence"] > 0.95 ) {
                  inference.push(msg.data[i])
                  // if (inference.length > 4) {
                  //   inference.splice(3,1)
                  // }
                  } else if ((msg.data[i]["label"] == "fibroblast" && msg.data[i]["confidence"] > 0.90)) {
                    inference.push(msg.data[i])
                //   if (inference.length > 4) {
                //     inference.splice(3,1)
                // }
              } else if ((msg.data[i]["label"] == "lymphocyte" && msg.data[i]["confidence"] > 0.95)) {
                inference.push(msg.data[i])
              //   if (inference.length > 4) {
              //     inference.splice(3,1)
              // }
            } else {
              // console.log("0")
            };
          }

          console.log(inference)

              var epithelial_count = JSON.stringify(inference).match(/epithelial/g || [])
              if (!epithelial_count) {
                $('#epithelial').text(0).html();
              }
              else {
                $('#epithelial').text((JSON.stringify(inference).match(/epithelial/g || [])).length).html();
                console.log((JSON.stringify(inference).match(/epithelial/g || [])).length)
              }

              var fibroblast_count = JSON.stringify(inference).match(/fibroblast/g || [])
              if (!fibroblast_count) {
                $('#fibroblast').text(0).html();
              }
              else {
                $('#fibroblast').text((JSON.stringify(inference).match(/fibroblast/g || [])).length).html();
              }

              var lymphocyte_count = JSON.stringify(inference).match(/lymphocyte/g || [])
              if (!lymphocyte_count) {
                $('#lymphocyte').text(0).html();
              }
              else {
                $('#lymphocyte').text((JSON.stringify(inference).match(/lymphocyte/g || [])).length).html();
                console.log((JSON.stringify(inference).match(/lymphocyte/g || [])).length)
              }


              if (cb)
                  cb();
                  //  var str = $('#log').match(/epithelial/g || []).length;
                  //  $("#log").text(str)
          });
});
    </script>

  </head>
  <body>
    <div class="background">
    <div class="bx--grid header bx--row">
      <h1 class="bx--col-md-8 verticalAlignment fontSize24 topAndBottomPadding">IBM x Oxford Cancer Biomarkers | ColoProg</h1>
        </div>

          <!-- <div class="bx--grid">
            <div class="bx--row topAndBottomPadding">
              <div class="bx--col-md-4 centreAlignment">
          <img src="http://localhost:8002/video_feed" width="50%">
        </div> -->

<div class="bx--grid">
  <div class="bx--row topAndBottomPadding">

  </div>

  <div class="bx--row wrapper ">
    <div class="bx--col-md-4 centreAlignment tile topAndBottomPadding" id="canvasContainer">
      <img src="http://localhost:8002/video_feed" class="topAndBottomMargin" width="80%">
      <p >Colon tissue x 40</p>
    </div>

    <!-- <div class="bx--col-md-4 tile topAndBottomPadding"> -->



    <div class="bx--row margin">

      <a data-tile="clickable" class="bx--tile tile centreAlignment doublePadding" tabindex="0">
        <div class="topAndBottomMargin fontSize24 centreAlignment">Epitheleal <h2 class"doublePadding topAndBottomMargin fontSize48 epithelial_color" id="epithelial">
        </h2> </div>
      </a>
      <a data-tile="clickable" class="bx--tile tile centreAlignment doublePadding" tabindex="0">
        <div class="topAndBottomMargin fontSize24 centreAlignment">Fibroblast <h2 class"doublePadding topAndBottomMargin fontSize48 fibroblast_color" id="fibroblast">
        </h2> </div>
      </a>
      <a data-tile="clickable" class="bx--tile tile centreAlignment doublePadding" tabindex="0">
        <div class="topAndBottomMargin fontSize24 centreAlignment">Lymphocyte <h2 class"doublePadding topAndBottomMargin fontSize48 lymphocyte_color" id="lymphocyte">
        </h2> </div>
      </a>
    </div>
      <!-- <div class="bx--row wrapper">
      <div class="smallheader"></div>
      <div class="minitile topAndBottomPadding">
      <h1> Epitheleal <mark id="log"></mark></h1>
    </div>
      <h1 class="topAndBottomMargin"> Lymphocyte <mark id="log"></mark></h1>
      <h1 class="topAndBottomMargin"> Fibroblast <mark id="log"></mark></h1>
    </div> -->

    <!-- <div id="my-pie-chart" class="doublePadding"></div> -->
       <!-- <script src="https://unpkg.com/@carbon/charts/index.umd.js"></script> -->
       <!-- <script>
       import { DonutChart, defaultColors } from '@carbon/charts';
       const { DonutChart, defaultColors } = Charts;
         // grab chart holder DOM element
         const chartHolder = document.getElementById('my-pie-chart');
         const donutData = {
	labels: ["Epitheleal", "Lymphocyte", "Fibroblast"],
	datasets: [
		{
			label: "Dataset 1",
			backgroundColors: ["#ee538b","#1192e8","#6929c4"],
			data: [20, 30, 50]
		}
	]
};

//

// const pieOptions = {
// 	accessibility: false,
// 	legendClickable: false,
// 	containerResizable: true,
// 	defaultColors,
// 	//theme: getTheme()
// };

const donutOptions = {
	accessibility: false,
	legendClickable: false,
	containerResizable: true,
	//theme: getTheme(),
	// defaultColors,
  colors: ["#ee538b","#1192e8","#6929c4"],
	center: {
		label: "Cells",
		number: 10
	},
};

         // // initialize the chart
         // new Charts.PieChart(chartHolder, {
         //   data: pieData,
         //   options: pieOptions,
         //   legendClickable: false
         // });

         // initialize the chart
         new Charts.DonutChart(chartHolder, {
           data: donutData,
           options: donutOptions
         });

       </script> -->




    <!-- </div> -->
</div>

<div class="centreAlignment fontSize48 topAndBottomPadding">
          <mark id="log">
            </mark>
              </div>

            <!-- </div> -->
            <div>
              <footer class="footer fontSize24" >Running on IBM Power Systems.</footer>
            </div>
        </div>
  </body>
</html>
